/* Common styles for dark and light themes */
button {
    padding: 0.25rem 0.75rem;
    border-radius: 0.25rem;
    line-height: 1.3;
    border: 1px solid;
    margin-right: 5px;
    margin-top: 5px;
  }
  
  /* Styles for the dark theme */
  .dark {
    background-color: rgb(14, 17, 23);
    color: white;
    border-color: rgba(250, 250, 250, 0.2);
  }
  
  .dark pre {
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity to your preference */
    color: white;
  }

  .dark input[type="checkbox"] {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
  }
  
  /* Styles for the light theme */
  .light {
    background-color: white;
    color: black;
    border-color: rgba(0, 0, 0, 0.2);
  }
  
  .light input[type="checkbox"] {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .light pre {
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the opacity to your preference */
    color: black;
  }